/C5r_Desktop_oauth/
/C5r_for_Android_oauth/
/C5r_for_Android_oauth_android/
/C5r_for_BlackBerry_oauth/
/C5r_for_iOS_oauth/
/C5r_for_iOS_oauth_apple/
/Chatter_Desktop/
/Chatter_for_Android/
/Chatter_for_BlackBerry/
/Chatter_for_iOS/
/Dataloader_Bulk/
/Dataloader_Bulk_oauth/
/Dataloader_P5r_oauth/
/Dataloader_Partner/
/Forcecom_IDE/
/Forcecom_IDE_oauth/
/Forcecom_Migration_Tool/
/Forcecom_Migration_Tool_oauth/
/S8e_C8x_oauth/
/S8e_for_Outlook_oauth/
/S8e_M4e_Dashboards_oauth/
/S8e_T3h_oauth/
/S9A_oauth/
/Salesforce_Chatterbox/
/Salesforce_for_Outlook/
/Salesforce_Mobile_Dashboards/
/Salesforce_Touch/
/Salesforce1 and Chatter Apps/
/SalesforceA/
/Salesforce Connected Apps/
/Workbench/
/Workbench_oauth/
/Workbench_oauth_c4s/
